main li {
<<<<<<< HEAD
    list-style: circle;
    margin: 20px;
    font-size: 20px;
}

p {
    font-size: 20px;
}

main h2 {
    font-size: 40px;
=======

    list-style: disc;
    margin: 20px;
    font-size: 16px;
    
>>>>>>> 46143e7fe26cb80e8765d381a6229978ea14cc78
}