<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/aboutUs.css" />
        <title>Sobre Nostros</title>
</head>

<body class="bg-black">
    <%- include("./partials/header.ejs") %>
        <main class="celeste-vpm m-5">
            <h2 class="text-center p-4">¿Quienes somos?</h2>
            <p>Somos un mercado en línea que conecta empresas compradoras con empresas vendedoras, basándonos en soluciones tecnológicas inteligentes. Nuestra misión es facilitarle a las empresas el proceso de compra y venta en línea, disminuyendo costos
                de adquisición, costos de venta, tiempo de operación.
            </p>

            <h2 class="text-center p-4">¿Por qué elegirnos?</h3>
                <ol class="m-3">
                    <li>Comprar más agilmente permite minimizar el stock, disminuyendo costos de almacenamiento.</li>
                    <li>Tener el control de tus compras (dónde está, cuando llegará, etc.), permite tomar decisiones más inteligentes</li>
                    <li>Compradores y vendedores 100% verificados (identidad, datos fiscales, etc.)</li>
                    <li>Todas las publicaciones respetan el principio de economía de escala (a mayor volumen, menor es el precio)</li>
                    <li>Quienes venden conocen las necesidades de las empresas, y brindan soluciones para empresas (unipersonales, pequeñas, medianas o grandes).</li>
                    <li>Siempre estamos atentos a las necesidades de nuestros clientes (quienes venden y quienes compran)</li>
                    <li>BMP te permitirá alcanzar más público y potenciar tu poder de venta.</li>
                    <li>Estando en BMP tendrás más presencia en el mercado.</li>
                </ol>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>