<footer>

    <div class="bg-black footer-bmp">

        <div class="footer-logo-container">
            <img class="logo-footer" src="/img/logos/BusinessMarketPlace.png" alt="BMP">

        </div>

        <div class="email-and-phone-container-since-480">
            <p class="email-and-phone">info@bmp.com.ar +540303456789</p>
        </div>



        <div class="contact-container">

            <div class="footer-social-media-container">
                <ul class="footer-social-media-list">
                    <li class="">
                        <a class="" href="#"><i class="fa-brands fa-facebook"></i
                    ></a>
                    </li>
                    <li class="">
                        <a class="" href="#"><i class="fa-brands fa-twitter"></i
                    ></a>
                    </li>
                    <li class="">
                        <a class="" href="#"><i class="fa-brands fa-instagram"></i
                    ></a>
                    </li>
                    <li class="">
                        <a class="" href="#"><i class="fa-brands fa-telegram"></i
                    ></a>
                    </li>
                </ul>
            </div>

            <div class="email-and-phone-container">
                <p class="email-and-phone">info@bmp.com.ar +540303456789</p>
            </div>

        </div>

    </div>
</footer>